body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e6b474 ;
}

button {
    background-color: #e6b474;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}