body {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 250px;
}

label {
    color:#e6b474;
    font-weight: 900;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e6b474 ;
}

button {
    background-color: #e6b474;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #e6b474;
    border-radius: 5px;
}

#delete-btn {
    background: #bccf87;
}


ul {
   list-style: none;
   padding-left: 0;
   margin-top: 30px;
}

li {
    margin-top: 8px;
}

li a {
    color: #e6b474;
}